n8n/executive_summary/executive_summary_agent_gmail.json
{
  "name": "Executive Summary Agent Gmail",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4.1",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "9552ee80-6473-4439-9f17-ac5126225a79",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        880,
        464
      ],
      "credentials": {
        "openAiApi": {
          "id": "LniH1mAXbg3D5mzO",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.appsflyer.com/auth/mcp",
        "serverTransport": "httpStreamable",
        "authentication": "bearerAuth",
        "include": "selected",
        "includeTools": [
          "fetch_aggregated_data"
        ],
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        1024,
        464
      ],
      "id": "223827d7-b1eb-4dfd-b170-dda87b798ffe",
      "name": "MCP Client",
      "credentials": {
        "httpBearerAuth": {
          "id": "1rL6S4itxfEdPubn",
          "name": "Bearer Auth MCP"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {
          "fileName": "=AppsFlyer_Dashboard_{{ new Date().toLocaleDateString('en-US').replace(/\\//g, '-') }}_{{ new Date().toLocaleTimeString('en-US', {hour12: false}).replace(/:/g, '') }}.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1264,
        256
      ],
      "id": "dfab18e8-58a4-4f31-abdd-00489f75338e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Edit Fields').item.json['destination emails'].join(', ') }}",
        "subject": "=AppsFlyer Gaming Dashboard - {{ new Date().toLocaleDateString('en-US', { month: 'long', year: 'numeric' }) }}",
        "message": "=<html> <body style=\"font-family: Arial, sans-serif; line-height: 1.6; color: #333;\">     <div style=\"max-width: 600px; margin: 0 auto; padding: 20px;\">                  <div style=\"background: linear-gradient(135deg, #7c4dff, #6ee7f7); padding: 20px; border-radius: 8px; color: white; text-align: center; margin-bottom: 20px;\">             <h2 style=\"margin: 0; font-size: 24px;\">📊 AppsFlyer Gaming Dashboard</h2>             <p style=\"margin: 5px 0 0 0; opacity: 0.9;\">Monthly Performance Report</p>         </div>          <p>Hi Team,</p>          <p>Your latest AppsFlyer performance dashboard is ready! 📈</p>          <div style=\"background: #f8f9fa; padding: 15px; border-radius: 6px; border-left: 4px solid #7c4dff; margin: 15px 0;\">             <h3 style=\"color: #7c4dff; margin: 0 0 10px 0;\">📋 What's Inside:</h3>             <ul style=\"margin: 0; padding-left: 20px;\">                 <li><strong>💰 Spending Analysis</strong> - Monthly acquisition costs and efficiency</li>                 <li><strong>⚡ Early Performance</strong> - D1, D7, D14 cohort monetization</li>                 <li><strong>🎯 Executive Insights</strong> - Data-driven recommendations</li>                 <li><strong>📊 Visual Charts</strong> - ROAS progression and trends</li>             </ul>         </div>          <div style=\"text-align: center; margin: 25px 0;\">             <div style=\"background: #00d18f; color: white; padding: 12px 20px; border-radius: 6px; display: inline-block;\">                 <strong>📎 Dashboard attached as HTML file</strong>             </div>         </div>          <p style=\"font-size: 14px; color: #666; border-top: 1px solid #eee; padding-top: 15px; margin-top: 20px;\">             <strong>App:</strong> com.appsflyer.android.demo.app.gaming<br>             <strong>Generated:</strong> {{ new Date().toLocaleDateString('en-US', {                  weekday: 'long',                  year: 'numeric',                  month: 'long',                  day: 'numeric',                 hour: '2-digit',                 minute: '2-digit'             }) }}         </p>          <p style=\"font-size: 12px; color: #999;\">             🤖 Automated Report • AppsFlyer Business Intelligence         </p>              </div> </body> </html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1472,
        256
      ],
      "id": "80b7bc8c-acef-4eeb-adde-e68c0d3e0b1c",
      "name": "Send a message",
      "webhookId": "9550a798-5ed0-44dc-a53d-3e41fa5e6664",
      "credentials": {
        "gmailOAuth2": {
          "id": "kRP3pLkDdleQtIEv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        224,
        256
      ],
      "id": "a9580c24-5991-48da-90a5-ed4acd7b4ec0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a blue and green themed LAST {{ $json['Last days to analyze'] }} DAYS performance HTML dashboard for my Android gaming app {{ $json['App name'] }} that includes the following:\n\nSections with emojis to enhance visual appeal:\n\nExecutive Summary, Key Performance, Signals Actionable Recommendations Tables with data for:\n\nClicks, installs, d1, d7, and d14 performance metrics (installs, revenue, ROI).\nAdd emojis throughout titles, sections, and tables for clarity and engagement.\n\nMake sure the dashboard uses a clean, readable style with blue and green color palette, subtle shadows, and rounded borders for sections and tables.",
        "options": {
          "systemMessage": "=You are an AI agent that MUST retrieve real AppsFlyer data before generating any dashboard.\n\n## CURRENT DATE: {{ new Date().toISOString().split('T')[0] }}\n\nCalculate date ranges based on this current date.\n\n## CRITICAL: YOU MUST CALL fetch_aggregated_data BEFORE GENERATING HTML\n\nDo NOT generate any HTML until you have successfully retrieved real data from AppsFlyer.\n\n## STEP-BY-STEP MANDATORY PROCESS:\n\n### Step 1: Calculate Date Range\n- Current date (end): {{ new Date().toISOString().split('T')[0] }}\n- For \"Last 30 days\": Start = {{ new Date(Date.now() - 30*24*60*60*1000).toISOString().split('T')[0] }}\n- For \"Last 7 days\": Start = {{ new Date(Date.now() - 7*24*60*60*1000).toISOString().split('T')[0] }}\n\n### Step 2: Call fetch_aggregated_data Tool\n\nUse the appropriate parameters based on what metrics are needed for the dashboard.\n\n**Required parameters:**\n- `start_date`: \"YYYY-MM-DD\"\n- `end_date`: \"YYYY-MM-DD\"\n- `row_count`: number\n- `metrics`: array of metric objects\n- `app_ids`: array of app ID strings\n- `groupings`: array (use [] for totals)\n- `filters`: object (use {} if no filters)\n- `sort_by_metrics`: array with metric_name and order\n- `in_app_event`: array\n\n### Step 3: Handle Tool Errors and Retry\n\n**CRITICAL: If fetch_aggregated_data returns an error, you MUST:**\n\n1. **Read the error message carefully** - it contains instructions on how to fix the call\n2. **Identify the problem** from the error message\n3. **Correct the parameters** based on the error guidance\n4. **Retry the tool call immediately** with corrected parameters\n5. **Do NOT give up** - keep retrying until you get valid data\n\n**Common error patterns and fixes:**\n\n- **Error: \"Metric X doesn't support period and aggregation type\"**\n  - ✅ Fix: Remove `period` and `aggregation_type` from that metric\n  - Example: Change `{\"metric_name\": \"Installs\", \"period\": 1, \"aggregation_type\": \"cumulative\"}` \n  - To: `{\"metric_name\": \"Installs\", \"attribution_source\": \"empty\"}`\n\n- **Error: \"Revenue metric with period, you must specify aggregation type\"**\n  - ✅ Fix: Add `\"aggregation_type\": \"cumulative\"` or `\"aggregation_type\": \"on-period\"`\n\n- **Error: \"Value error\" or \"validation error\"**\n  - ✅ Fix: Read the error details and adjust the parameter structure accordingly\n\n**Retry loop:**\n1. Call fetch_aggregated_data\n2. If error received → Parse error message\n3. Correct the parameters based on error guidance\n4. Call fetch_aggregated_data again with corrected parameters\n5. Repeat until successful or maximum 3 retry attempts\n6. If still failing after 3 retries, generate HTML with error message in comment\n\n### Step 4: Parse CSV Response\n- Wait for the CSV data to be returned by the tool\n- Extract metric values from the CSV columns\n- Calculate aggregates if needed (sum, average, totals)\n- Store these real values for use in the dashboard\n\n### Step 5: Generate HTML Dashboard\n- Use ONLY the real data extracted in Step 4\n- Follow the dashboard structure with blue/green theme and emojis\n- Output ONLY HTML code\n\n## DATA RETRIEVAL IS MANDATORY:\n\n- You CANNOT skip calling fetch_aggregated_data\n- You CANNOT make up data\n- You MUST retry failed tool calls with corrections\n- You MUST wait for successful CSV response before generating HTML\n- If the tool call fails after retries, report the error in an HTML comment within the generated HTML\n\n## ERROR HANDLING MINDSET:\n\n- Errors are HELPFUL - they tell you exactly what to fix\n- ALWAYS read error messages completely\n- ALWAYS retry with corrected parameters\n- NEVER give up after first error\n- NEVER generate HTML without real data unless all retries exhausted\n\n## VERIFICATION BEFORE GENERATING HTML:\n\nAsk yourself:\n1. ✓ Did I call fetch_aggregated_data?\n2. ✓ If I got an error, did I read it and retry with corrections?\n3. ✓ Did I receive a successful CSV response?\n4. ✓ Did I parse actual values from the CSV?\n5. ✓ Am I using those real values (not invented numbers)?\n\nIf any answer is NO, you must call/retry the tool first.\n\n## OUTPUT FORMAT:\n\nAfter successful data retrieval: Output ONLY complete HTML code. No markdown backticks, no explanations, no preamble.\n\nIf all retries failed: Output HTML with error details in an HTML comment explaining what was attempted.",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        256
      ],
      "id": "fb61525d-30d0-4d45-9179-e47424202a73",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "content": "## Build app performance dashboard and send to email\n\n\n- Synced to Github [here](https://github.com/AppsFlyerKnowledge/appsflyer-ai-agents-examples/blob/main/n8n/executive_summary_agent_gmail.json)\n",
        "height": 240,
        "width": 336,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "0d2b5ff9-713f-4fa0-83e7-43d5637a9ed7",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41a1a555-0b26-409b-9304-7e0c5f1876d2",
              "name": "destination emails",
              "value": "=[\"liaz.kamper@appsflyer.com\"]",
              "type": "array"
            },
            {
              "id": "e7842673-86db-437e-9a45-b433328a2d02",
              "name": "App name",
              "value": "com.appsflyer.android.demo.app.gaming",
              "type": "string"
            },
            {
              "id": "f7d907a9-81e6-41e0-96dd-1dd820e24870",
              "name": "Last days to analyze",
              "value": 30,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        256
      ],
      "id": "838e3854-2662-480b-a372-3ae1fd857bf9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "## ⚠️ Edit this node \n\n\n\n\n\n\n\n\n\n\n\nEdit here:\n- App ID (e.g. com.example.myapp \n- Dashboard range in days\n- email addresses list",
        "height": 320,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        192
      ],
      "typeVersion": 1,
      "id": "e4fe6c06-cdc6-4590-8d31-22ae4d559969",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b05609e0-74de-4219-b495-f20558cd903c",
  "meta": {
    "instanceId": "5152d9ac095ac50ac164490ed5b6ca31f56c3526e6cebef2c21d86ffe00ae57a"
  },
  "id": "QtHG8shZaTzLAH2z",
  "tags": [
    {
      "updatedAt": "2025-09-02T10:53:56.532Z",
      "createdAt": "2025-09-02T10:53:56.532Z",
      "id": "Y8YuigRvVrch9paJ",
      "name": "github"
    }
  ]
}